:root {
    /* global */
    /* global */
    --bg-image: url("https://worldofprintables.com/wp-content/uploads/2023/06/Wood-Background-Wooden-Planks.jpg");
    --bg-image2: url("https://images.unsplash.com/photo-1525947088131-b701cd0f6dc3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D");
    --bg-image1: url("https://4kwallpapers.com/images/wallpapers/wooden-background-wooden-planks-5k-3840x2160-2304.jpg");

    --font: monospace;
}

html,
body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

body {
    background-image: var(--bg-image);
    background-position: center;
    background-size: 100vw 100vh;
    margin: 0;

    flex-direction: row;
}

.box {
    width: 100%;
    height: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.glassInner,
.glass {
    --margin: 10px;
    height: calc(100% - var(--margin));
    width: calc(100% - var(--margin));

    backdrop-filter: blur(20px);

    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.glassInner {
    --margin: 20px;
    max-width: 100%;

    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);

    border: unset;

    text-align: left;
}

.glassOption {
    height: 50px;
    width: 100%;

    border-bottom: 2px solid rgb(255, 255, 255, 0.075);

    background-color: rgba(0, 0, 0, 0.2);

    text-align: left;
    /* margin-bottom: 2px; */
    box-shadow: unset;
}

.font,
.imageLabel {
    --size: 1vw;
    --font: monospace;

    color: white;
    font-size: var(--size);
    font-family: var(--font);
}

.imageLabel {
    transform: rotate(-90deg);
}


/* Styling the scroll bar */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}